<h1>Open Forum</h1>

<div class="message-list">
  <% @messages.each do |message| %>
    <%= render message %>
    <p>Comments: <%= message.comments.count %></p>
  <% end %>
</div>
<br>
<%= render 'form' %>
