<select class="specialty-dropdown" name="specialty">
  <option value="acupuncturist">Acupuncture</option>
  <option value="addiction-counselor">Addiction Counseling</option>
  <option value="addiction-specialist">Addiction Medicine</option>
  <option value="addiction-psychiatrist">Addiction Psychiatry</option>
  <option value="addiction-psychologist">Addiction Psychology</option>
  <option value="adolescent-medicine-pediatrician">Adolescent Medicine</option>
  <option value="allergist">Allergy &amp; Immunology</option>
  <option value="anesthesiologist">Anesthesiology</option>
  <option value="art-therapist">Art Therapist</option>
  <option value="audiologist">Audiology</option>
  <option value="cardiothoracic-surgeon">Cardiothoracic Surgery</option>
  <option value="cardiologist">Cardiovascular Disease</option>
  <option value="child-psychiatrist">Child &amp; Adolescent Psychiatry</option>
  <option value="internist-chiropractor">Chiropractic Internal Medicine</option>
  <option value="medical-examiner-chiropractor">Chiropractic Medical Examiner</option>
  <option value="neurology-chiropractor">Chiropractic Neurology</option>
  <option value="orthopedic-chiropractor">Chiropractic Orthopedics</option>
  <option value="pediatric-chiropractor">Chiropractic Pediatrics</option>
  <option value="radiology-chiropractor">Chiropractic Radiology</option>
  <option value="chiropractor">Chiropractics</option>
  <option value="sports-chiropractor">Chiropractic Sports Medicine</option>
  <option value="clinical-child-psychologist">Clinical Child &amp; Adolescent Psychology</option>
  <option value="clinical-pharmacology">Clinical Pharmacology</option>
  <option value="clinical-psychologist">Clinical Psychology</option>
  <option value="colorectal-surgeon">Colon &amp; Rectal Surgery</option>
  <option value="counselor-specialist">Counseling</option>
  <option value="critical-care-anesthesiologist">Critical Care Medicine</option>
  <option value="critical-care-obgyn">Critical Care Medicine OBGYN</option>
  <option value="cytopathologist">Cytopathology</option>
  <option value="dance-therapist">Dance Therapist</option>
  <option value="dental-hygienist">Dental Hygienist</option>
  <option value="dentist-dentist-anesthesiologist">Dentist Anesthesiologist</option>
  <option value="dermatologist">Dermatology</option>
  <option value="dietitian">Dietitian, Registered</option>
  <option value="emergency-medicine-doctor">Emergency Medicine</option>
  <option value="emergency-medicine-pediatric-emergency-medicine">Emergency Medicine Pediatric Emergency Medicine</option>
  <option value="endocrinologist">Endocrinology, Diabetes &amp; Metabolism</option>
  <option value="facial-plastic-surgeon">Facial Plastic Surgery</option>
  <option value="family-medicine-addiction-medicine">Family Medicine Addiction Medicine</option>
  <option value="family-psychologist">Family Psychology</option>
  <option value="forensic-pathologist">Forensic Pathology</option>
  <option value="gastroenterologist">Gastroenterology</option>
  <option value="general-practitioner">General Practice</option>
  <option value="geriatric-medicine-doctor">Geriatric Medicine</option>
  <option value="gynecologic-oncologist">Gynecologic Oncology</option>
  <option value="hematopathologist">Hematology</option>
  <option value="oncologist">Hematology &amp; Oncology</option>
  <option value="hepatologist">Hepatology</option>
  <option value="hospice-care-palliative-doctor">Hospice and Palliative Medicine</option>
  <option value="immunopathologist">Immunopathology</option>
  <option value="infectious-disease-doctor">Infectious Disease</option>
  <option value="internist">Internal Medicine</option>
  <option value="interventional-cardiologist">Interventional Cardiology</option>
  <option value="kinesiotherapist">Kinesiotherapist</option>
  <option value="massage-therapist">Massage Therapy</option>
  <option value="medical-oncologist">Medical Oncology</option>
  <option value="pediatric-medical-toxicologis">Medical Toxicology</option>
  <option value="mental-health-counselor">Mental Health Counseling</option>
  <option value="music-therapist">Music Therapist</option>
  <option value="naturopathic-doctor">Naturopath</option>
  <option value="neonatal-perinatal-pediatrician">Neonatal &amp; Perinatal Medicine</option>
  <option value="nephrologist">Nephrology</option>
  <option value="neurodevelopmental-disability-pediatrician">Neurodevelopmental Disability</option>
  <option value="neurosurgeon">Neurological Surgery</option>
  <option value="neurologist">Neurology</option>
  <option value="neuropathologist">Neuropathology</option>
  <option value="neuroradiologist">Neuroradiology</option>
  <option value="nutritionist">Nutrition Medicine</option>
  <option value="obstetrician">Obstetrics</option>
  <option value="occupational-therapist">Occupational Therapist</option>
  <option value="ophthalmologist">Ophthalmology</option>
  <option value="oral-surgeon">Oral &amp; Maxillofacial Surgery</option>
  <option value="orthodontis">Orthodontics</option>
  <option value="orthopedic-surgeon">Orthopedic Surgery</option>
  <option value="otolaryngic-allergist">Otolaryngic Allergy</option>
  <option value="ear-nose-throat-doctor">Otolaryngology</option>
  <option value="otology-neurotologist">Otology &amp; Neurotology</option>
  <option value="pathologist">Pathology</option>
  <option value="pain-medicine-anesthesiologist">Pain Medicine</option>
  <option value="pediatric-allergist">Pediatric Allergy</option>
  <option value="pediatric-anesthesiologist">Pediatric Anesthesiology</option>
  <option value="pediatric-cardiologist">Pediatric Cardiology</option>
  <option value="critical-care-pediatrician">Pediatric Critical Care Medicine</option>
  <option value="pediatric-endocrinologist">Pediatric Endocrinology</option>
  <option value="pediatrics-medical-toxicology">Pediatrics Medical Toxicology</option>
  <option value="pediatric-dermatologist">Pediatric Dermatology</option>
  <option value="pediatric-gastroenterologist">Pediatric Gastroenterology</option>
  <option value="phlebology">Phlebology</option>
  <option value="physical-therapist">Physical Therapy</option>
  <option value="plastic-surgeon">Plastic and Reconstructive Surgery</option>
  <option value="plastic-surgery-specialist">Plastic Surgery</option>
  <option value="podiatrist">Podiatry</option>
  <option value="preventive-medicine-doctor">Preventive Medicine</option>
  <option value="prosthetist">Prosthetist</option>
  <option value="pulmonologist">Pulmonary Disease</option>
  <option value="psychiatrist">Psychiatry</option>
  <option value="psychiatry-neurology-addiction-medicine">Psychiatry &amp; Neurology Addiction Medicine</option>
  <option value="psychologist">Psychology</option>
  <option value="rheumatologist">Rheumatology</option>
  <option value="speech-therapist">Speech Therapy</option>
  <option value="general-surgeon">Surgery</option>
  <option value="transplant-surgery">Transplant Surgery</option>
  <option value="urologist">Urology</option>
  <option value="vascular-surgeon">Vascular Surgery</option>
</select>

<br><br>


<select class="insurance-dropdown">
  <option value="aetna">Aetna</option>
  <option value="aetna-aetnadppo">Aetna DPPO</option>
  <option value="aetna-aetnaadvantage6350">Aetna Advantage 6350</option>
  <option value="aetna-aetnaadvantage6350hix">Advantage 6350 - HIX</option>
  <option value="aetna-aetnabasichix">Basic - HIX</option>
  <option value="aetna-aetnabasichmo">Aetna Basic HMO</option>
  <option value="aetna-aetnachoiceposii">Aetna Choice POS II</option>
  <option value="aetna-aetnachoiceposopenaccess">Aetna Choice POS Open Access</option>
  <option value="aetna-aetnadmo">Aetna DMO</option>
  <option value="aetna-aetnaelectchoiceepo">Aetna Elect Choice EPO</option>
  <option value="aetna-aetnahealthnetworkoptionopenaccess">Aetna Health Network Option Open Access</option>
  <option value="aetna-aetnahmo">Aetna HMO</option>
  <option value="aetna-aetnahmodeductibleplancamembersonly">Aetna HMO Deductible Plan CA members only</option>
  <option value="aetna-aetnamanagedchoiceposopenaccess">Aetna Managed Choice POS Open Access</option>
  <option value="aetna-aetnamdbronzesilverandgoldhmo">MD Bronze Silver  Gold - HMO</option>
  <option value="aetna-aetnasavingsplusofaz">Aetna Savings Plus of AZ</option>
  <option value="aetna-aetnasavingsplusofca">Aetna Savings Plus of CA</option>
  <option value="aetna-aetnaselect">Aetna Select</option>
  <option value="aetna-aetnasignatureadministratorsppo">Aetna Signature Administrators PPO</option>
  <option value="aetna-aetnavitalidadpluscaconaetna">Aetna Vitalidad Plus CA con Aetna</option>
  <option value="aetna-aetnawholehealthbannerhealthnetworkhmo">Aetna Whole Health Banner Health Network HMO</option>
  <option value="aetna-aetnawholehealthcoloradofrontrange">Aetna Whole Health Colorado Front Range</option>
  <option value="aetna-aetnawholehealthprimecarehmoca">Aetna Whole Health PrimeCare HMO CA</option>
  <option value="aetna-aetnawholehealthprimecareoamcca">Aetna Whole Health PrimeCare OAMC CA</option>
  <option value="bluecrossbluesheildofalabama">Blue Cross Blue Sheild of Alabama</option>
  <option value="bluecrossbluesheildofalabama-bcbsalpreferreddentists">BCBS AL Preferred Dentists</option>
  <option value="bluecrossbluesheildofalabama-bcbsalppo">BCBS AL PPO</option>
  <option value="bluecrossblueshieldofflorida">Blue Cross Blue Shield of Florida</option>
  <option value="bluecrossblueshieldofflorida-flbluebluedentalchoicechoiceplusppo">FL Blue BlueDental Choice  Choice Plus PPO</option>
  <option value="bluecrossblueshieldofflorida-floridabluebluecarehmo">Florida Blue BlueCare HMO</option>
  <option value="bluecrossblueshieldofflorida-floridablueblueoptions">Florida Blue BlueOptions</option>
  <option value="bluecrossblueshieldofflorida-floridablueblueselect">Florida Blue BlueSelect</option>
  <option value="bluecrossblueshieldofflorida-floridabluenetworkblue">Florida Blue NetworkBlue</option>
  <option value="bluecrossblueshieldofgeorgia">Blue Cross Blue Shield of Georgia</option>
  <option value="bluecrossblueshieldoflouisiana">Blue Cross Blue Shield of Louisiana</option>
  <option value="bluecrossblueshieldoftx">Blue Cross Blue Shield of TX</option>
  <option value="bluecrosscalifornia">Blue Cross California</option>
  <option value="blueshieldofcalifornia">Blue Shield of California</option>
  <option value="carefirstbluecrossblueshield">Care First Blue Cross Blue Shield</option>
  <option value="cignadental">Cigna Dental</option>
  <option value="compbenefitscorporation">CompBenefits Corporation</option>
  <option value="deltadental">Delta Dental</option>
  <option value="dentalnetworkofamerica">Dental Network of America</option>
  <option value="dentemax">DenteMax</option>
  <option value="diversifieddental">Diversified Dental</option>
  <option value="dominiongroup">Dominion Group</option>
  <option value="emblemhealth">Emblem Health</option>
  <option value="Emblem Health">First Dental Health</option>
  <option value="guardiandental">Guardian Dental</option>
  <option value="horizonbcbs">Horizon BCBS</option>
  <option value="humana">Humana</option>
  <option value="libertydentalplan">Liberty Dental Plan</option>
  <option value="metlife">MetLife</option>
  <option value="principalfinancialservices">Principal Financial Services</option>
  <option value="regencebluecrossblueshieldofutah">Regence Blue Cross Blue Shield of Utah</option>
  <option value="sciondental">Scion Dental</option>
  <option value="totaldentaladministrators">Total Dental Administrators</option>
  <option value="unitedconcordia">United Concordia</option>
  <option value="unitedhealthcaredental">United Healthcare Dental</option>
  <option value="advantagehealthsolutions">Advantage Health Solutions</option>
  <option value="altiuscoventryhealthcare">Altius Coventry Health Care</option>
  <option value="ambettersuperiorhealthplan">Ambetter Superior Health Plan</option>
  <option value="amerihealth">Amerihealth</option>
  <option value="ameritas">Ameritas</option>
  <option value="anthem">Anthem</option>
  <option value="anthembluecrossblueshield">Anthem Blue Cross Blue Shield</option>
  <option value="assurant">Assurant</option>
  <option value="aultcare">Aultcare</option>
  <option value="bcbsbluecard">BCBS Blue Card</option>
  <option value="bcbsflorida">Blue Cross Blue Shield of Florida BCBSFL</option>
  <option value="bcbsminnesota">BCBS Minnesota</option>
  <option value="bcbstexas">Blue Cross Blue Shield of Texas BCBSTX</option>
  <option value="bluecrossblueshieldofaritona">Blue Cross Blue Shield of Aritona</option>
  <option value="bluecrossblueshieldofillinois">Blue Cross Blue Shield of Illinois</option>
  <option value="bluecrossblueshieldofkansascity">Blue Cross Blue Shield of Kansas City</option>
  <option value="bluecrossblueshieldofmassachusetts">Blue Cross Blue Shield of Massachusetts</option>
  <option value="bluecrossblueshieldofmichigan">Blue Cross Blue Shield of Michigan</option>
  <option value="bluecrossblueshieldofnewmexico">Blue Cross Blue Shield of New Mexico</option>
  <option value="bluecrossblueshieldofoklahoma">Blue Cross Blue Shield of Oklahoma</option>
  <option value="bluecrossblueshieldofrhodeisland">Blue Cross Blue Shield of Rhode Island</option>
  <option value="bluecrossblueshieldoftennessee">Blue Cross Blue Shield of Tennessee</option>
  <option value="bluecrossblueshieldoftexas">Blue Cross Blue Shield of Texas</option>
  <option value="bluecrossblueshieldofwyoming">Blue Cross Blue Shield of Wyoming</option>
  <option value="bluecrossidaho">Blue Cross Idaho</option>
  <option value="bluegrassfamilyhealth">Bluegrass Family Health</option>
  <option value="bridgespan">Bridgespan</option>
  <option value="buckeyecommunityhealthplan">Buckeye Community Health Plan</option>
  <option value="capitalbluecross">Capital Blue Cross</option>
  <option value="capitaldistrictphysicianshealthplan">Capital District Physicians Health Plan</option>
  <option value="chinesecommunityhealthplan">Chinese Community Health Plan</option>
  <option value="cigna">Cigna</option>
  <option value="cofinity">Cofinity</option>
  <option value="communitycarehealthcenters">CommUnityCare Health Centers</option>
  <option value="connecticare">Connecticare</option>
  <option value="coventryhealthcare">Coventry Health Care</option>
  <option value="empirebcbs">Empire BCBS</option>
  <option value="excellusbcbs">Excellus BCBS</option>
  <option value="firstchoice">First Choice</option>
  <option value="firsthealthcoventryhealthcare">First Health Coventry Healthcare</option>
  <option value="geisingerhealthplan">Geisinger Health Plan</option>
  <option value="grouphealthcooperative">Group Health Cooperative</option>
  <option value="gundersenhealthplan">Gundersen Health Plan</option>
  <option value="gwhcigna">GWH-Cigna</option>
  <option value="hap">HAP</option>
  <option value="harvardpilgrim">Harvard Pilgrim</option>
  <option value="healthalliance">Health Alliance</option>
  <option value="healthfirstny">HealthFirst NY</option>
  <option value="HealthFirst NY">HealthLink</option>
  <option value="healthnet">HealthNet</option>
  <option value="HealthNet">HealthNow</option>
  <option value="healthplanofnevada">Health Plan of Nevada</option>
  <option value="healthplusofmichigan">HealthPlus of Michigan</option>
  <option value="healthspan">HealthSpan</option>
  <option value="highmarkbluecrossblueshield">Highmark Blue Cross Blue Shield</option>
  <option value="hipofny">HIP of NY</option>
  <option value="hmsa">HMSA</option>
  <option value="homestatehealthplan">Home State Health Plan</option>
  <option value="ibcamerihealth">IBC  Amerihealth</option>
  <option value="independencebluecross">Independence Blue Cross</option>
  <option value="independenthealthassociation">Independent Health Association</option>
  <option value="kaisermidatlantic">Kaiser - MidAtlantic</option>
  <option value="kaiserpermanente">Kaiser Permanente</option>
  <option value="lacarehealth">L.A. Care Health</option>
  <option value="lifewisehealthplanoforegon">Lifewise health Plan of Oregon</option>
  <option value="magnacare">Magnacare</option>
  <option value="medicaid">Medicaid</option>
  <option value="medicalmutualofohio">Medical Mutual of Ohio</option>
  <option value="medicare">Medicare</option>
  <option value="mhealthinsured">MHealth Insured</option>
  <option value="mhsindiana">MHS Indiana</option>
  <option value="molinahealthcare">Molina Healthcare</option>
  <option value="multiplan">Multiplan</option>
  <option value="mvphealthplan">MVP Health Plan</option>
  <option value="odshealthplan">ODS Health Plan</option>
  <option value="oxfordhealth">Oxford Health</option>
  <option value="pacificsourcehealthplans">PacificSource Health Plans</option>
  <option value="paramount">Paramount</option>
  <option value="premerabcbs">Premera Blue Cross Blue Shield</option>
  <option value="premerabluecross">Premera Blue Cross</option>
  <option value="presbyterianhealthcareservices">Presbyterian Healthcare Services</option>
  <option value="priorityhealth">PriorityHealth</option>
  <option value="providencehealthsystem">Providence Health System</option>
  <option value="qualcare">QualCare</option>
  <option value="qualchoice">Qualchoice</option>
  <option value="regencebluecrossblueshieldoforegon">Regence Blue Cross Blue Shield of Oregon</option>
  <option value="regenceblueshieldofidaho">Regence Blue Shield of Idaho</option>
  <option value="regenceblueshieldofwashinton">Regence Blue Shield of Washinton</option>
  <option value="rockymountainhealthplans">Rocky Mountain Health Plans</option>
  <option value="sagamorehealthnetwork">Sagamore Health Network</option>
  <option value="scottandwhite">Scott and White</option>
  <option value="sharphealthplan">Sharp Health Plan</option>
  <option value="sierrahealth">Sierra Health</option>
  <option value="spectrumhealth">Spectrum Health</option>
  <option value="totalhealthplan">Total Health Plan</option>
  <option value="tuftshealthplan">Tufts Health Plan</option>
  <option value="uhcoftherivervalley">UHC of the River Valley</option>
  <option value="uhcwestformerlypacificare">UHC West Formerly Pacificare</option>
  <option value="unitedhealthcare">United Healthcare</option>
  <option value="unityhealthinsurance">Unity Health Insurance</option>
  <option value="wellmarkbluecrossandblueshield">Wellmark Blue Cross and Blue Shield</option>
  <option value="westernhealthadvantage">Western Health Advantage</option>
  <option value="wisconsinphysiciansserviceinsurancecorporation">Western Health Advantage</option>
  <option value="wisconsinphysiciansserviceinsurancecorporation">Wisconsin Physicians Service Insurance Corporation</option>
  <option value="vsp">VSP</option>
</select>
<br><br>
<form>
  <p><strong>Enter your zip:</strong> <%= text_field_tag 'zip', '33143' %></p><br>
  <p class="zip-validate"><%= submit_tag 'Validate' %>
</form>
<br>
<p id="doc-search"><%= submit_tag 'Search' %></p>




