<br><br><br><br>
<div id="homepage">
<div id="container">
  <div id="one">
    <h1>Hey there, <%= @user.first_name %></h1>
    <h2>Validate your zipcode to get started.</h2><br>
    <%= render 'selections' %>
    <div id="map"></div>
  </div>
  <div id="two">
    <h3>BetterDoctor - Doctor Search Results</h3>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Specialty</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Rating</th>
        <th></th>
      </thead>
      <tbody class='doc-index'>
        <tr>
          <td>Joseph Ciancio</td>
          <td>Allergist</td>
          <td>(943)343-4343</td>
          <td>2343 sw 185 st miami FL 33333</td>
          <td>5-star</td>
          <td>url</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>
