<br><br><br>
<div class="homepage">
  <div class='row well text-center'>
    <h1>Welcome back, <%= @user.first_name %></h1>
  </div>
  <div class='row'>
    <div class="container col-md-6 text-center">
      <br>
      <h3>Step 1: Validate your zipcode to get started.</h3><br>
      <form>
        <p><br><%= text_field_tag 'zip' %></p>
        <p id="zip-validate"><%= button_tag 'Validate', class: "btn btn-lg btn-outline" %></p>
      </form>
    </div>
    <div class="container col-md-6 text-center">
      <br>
      <h3>Step 2: Select specialty and your insurance plan below.</h3>
      <%= render 'selections' %>
    </div>
  </div>
  <div class="container col-md-6">
    <div id="map" class="container col-md-5 row-centered">
    </div>
  </div>
  <div class="container col-md-6 index-right well text-center">
    <h3>Your Doc Loc Search Results</h3>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Specialty</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Rating</th>
        <th></th>
      </thead>
      <tbody class='doc-index'>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>
