<h1>Hey there, <%= @user.first_name %></h1>
<h2>Choose from one of the filters to get started.</h2><br>
<%= render 'selections' %>
<br><br>
<p class="doc-search"><%= submit_tag 'Search' %></p>
<h3>BetterDoctor - Doctor Search Results</h3>
<table class="table table-striped">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialty</th>
        <th>Picture</th>
    </thead>
    <tbody class='doc-index'>
        <tr>
            <td>Joseph</td>
            <td>Ciancio</td>
            <td>Allergist</td>
            <td></td>
        </tr>
    </tbody>
</table>


