<br><br><br><br>
<div class='row well text-center'>
<br><h1>Thanks for visiting!<br>You have successfully been logged out.<br>Please visit us again soon!</h1><br>
</div>
<div class="col-lg-8 col-lg-offset-2 text-center">
	<%= link_to 'Doctor Finder Home', root_path, class: "btn btn-lg btn-outline" %>
</div>


