	<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="http://labtestsplus.com/wp-content/uploads/Doctor-Icon-no-background.png" alt="">
          <div class="intro-text">
            <span class="name">Welcome to Doc Loc</span>
            <hr class="star-light">
            <span class="skills"><br><br></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Portfolio Grid Section -->

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="heart-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-center">
          <p><br><br>Doc Loc is currently a free to use online platform that allows individuals to search through a database of over a million doctors and view their practice's location on a map.<br><br>Each search not only reveals the location of the doctor in your area but also their patient rating as well as some additional contact information.</p>
        </div>
        <div class="col-lg-4 text-center">
          <p><br><br>We here at Doc Loc feel that it is critical to actively work with our visitors and to grow in the direction that best meets their needs.<br><br>In order to accomplish this goal we have created an online Health Forum. On this forum you can share your medical experiences with others by symptom, side effect, syndrome, or surgery.</p>
        </div>
        <div class="col-lg-4 text-center">
          <p><br><br>It is our goal here at Doc Loc to continually improve upon our already great functionality. We have a generous list of updates and additional feature already in the works.<br><br> Please check back frequently and feel free to comment below and let us know how we can better meet your needs. </p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center ">
            <%= link_to 'Get Started Now', new_user_path, class: "btn btn-lg btn-outline" %>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="success"id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Founders</h2>
            <hr class="star-light">
          </div>
          <div class="row">
            <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img src="assets/john.png" class="img-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img src="assets/josh.png" class="img-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img src="assets/joe.png" class="img-responsive" alt="">
              </a>
            </div>

          </div>
        </div>
      </section>
 -->


      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>

      <!-- Portfolio Modals -->
      <!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <h2>John Hoeckele</h2>
                  <hr class="star-primary">
                  <img src="assets/john.png" class="img-responsive img-centered" alt="">
                  <p>Junior Full-Stack Web Developer<br>I am currently a student at Wyncode in Miami. Wyncode is a full-time immersive program where I am learning the skills necessary to become a full stack web developer. My body of work is ever expanding and I am approaching all of my studies with the same eager enthusiasm that I have for life. I spend my days working with like minded individuals where we learn and then immediately apply our newfound knowledge towards solving complex problems in a variety of ways. Below are several pictures that link directly to some of my earlier projects. Please feel free to browse through them, but keep in mind that my best work has yet to come!</p>
                    <ul class="list-inline item-details">
                      <li>LinkedIn:
                        <strong><a href="#">LinkedIn</a>
                        </strong>
                      </li>
                      <li>Github:
                        <strong><a href="#">Github</a>
                        </strong>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Josh Breault</h2>
                    <hr class="star-primary">
                    <img src="assets/josh.png" class="img-responsive img-centered" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                      <ul class="list-inline item-details">
                        <li>LinkedIn:
                          <strong><a href="#">LinkedIn</a>
                          </strong>
                        </li>
                        <li>Github:
                          <strong><a href="#">Github</a>
                          </strong>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Joseph Ciancio</h2>
                      <hr class="star-primary">
                      <img src="assets/joe.png" class="img-responsive img-centered" alt="">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ul class="list-inline item-details">
                          <li>LinkedIn:
                            <strong><a href="#">LinkedIn</a>
                            </strong>
                          </li>
                          <li>Github:
                            <strong><a href="#">Github</a>
                            </strong>
                          </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Contact Section -->
          <!-- <section id="contact">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>Contact Us</h2>
                  <hr class="star-primary">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2"> -->
                  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                  <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                  <!-- <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="1" class="form-control" placeholder="Name" id="message" required data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="3" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
 -->
          <!-- Footer -->
          <footer class="text-center">
            <div class="footer-above">
              <div class="container">
                <div class="row">
                  <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>400 NW 26th St<br>Miami, FL 33127</p>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                      <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                      </li>
                      <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Doc Loc</h3>
                    <p>Doc Loc is free to use,<br> open source, and available soon!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-below">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    Copyright &copy; 2015
                  </div>
                </div>
              </div>
            </div>
          </footer>
