<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @comment.message.title %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', @comment.message %>
