<h3>BetterDoctor - Doctor Search Results</h3>
    <table>
        <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Picture</th>
        </thead>
        <tbody class='doc-index'>
        <tr>
            <td>Joseph</td>
            <td>Allergist</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</script>
